body {
  font-family: "Courier New", Courier, monospace;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: grey;
  list-style: none !important;
}

.container {
  max-width: 800px;
}

.weather-app {
  border: 1px solid lightgrey;
  padding: 20px;
  margin: 20px auto;
  border-radius: 15px;
  max-width: 800px;
}

.search-form {
  margin-bottom: 40px;
}

.float-left {
  float: left !important;
}

.currentTemperature {
  font-size: 70px;
  line-height: 1;
}

.unit {
  position: relative;
  top: -30px;
}

.small,
small {
  font-size: 80%;
  font-weight: 400;
}
